.hello {
    color: rebeccapurple;
    background-color: red;
    font-weight: lighter;
}

.item{
    width: 100%;
    min-height: 5rem;
    
}

.row{
    display:flex;
    flex-direction: row-reverse;
}
.red {
    background-color: #993737;
  }

.blue{
    background-color: blue;
}

.green{
    background-color: teal;
}

.button{
    background-color: teal;
    color: #fff;
    margin: 3rem;
    padding-inline: 1.5em;
    padding-block: 0.5rem;
    cursor:pointer;

}


.button:hover{
    background-color: tomato;
}